:root {
  --light-green: #00ff66;
  --light-black: #2a343c;
  --light-gray: #fafdffbf;
  --white: #fff;
  --black: #000;
  --green: #05e65f9a;
  --font-size-smaller: 1rem;
  --font-size-xxsmall: 1.25rem;
  --font-size-xsmall: 1.5rem;
  --font-size-small: 1.875rem;
  --font-size-medium: 2rem;
  --font-size-large: 2.25rem;
  --font-size-xlarge: 2.5rem;
  --font-size-xxlarge: 3.5rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.banner-content,
.introduction-content,
.description-content,
.testimonial-content,
.brands-content,
.card-content,
.service-content,
.footer-content {
  margin: 5rem auto;
  width: 80%;
}

/* HEADER */

.header {
  width: 100%;
  display: flex;
  background: var(--light-black);
  position: fixed;
  z-index: 99;
}
.content {
  width: 90%;
  margin: 1rem auto 0.5rem auto;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 20%;
  padding: 0.5rem 0 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-shate {
  width: 126px;
  height: 34px;
}
.shate-logo {
  width: 100%;
}

/* NAVIGATION */

.navigation {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-itens {
  gap: 4rem;
  display: flex;
}
.nav-itens li {
  list-style: none;
}
.nav-item {
  text-decoration: none;
  color: var(--light-gray);
  font-size: var(--font-size-xxsmall);
}
.button {
  width: 20%;
  justify-content: end;
  align-items: center;
  display: flex;
}
.btn {
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--black);
  background: var(--light-green);
  font-size: var(--font-size-smaller);
  border-radius: 25px;
}

/* BANNER */

.banner {
  width: 100%;
  display: flex;
  background: var(--light-black);
}
.banner-content {
  display: flex;
  flex-direction: column;
}
.banner-title {
  width: 60%;
  margin: auto;
  padding: 4rem 0 2rem 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.title-banner {
  color: var(--white);
  font-size: var(--font-size-xxlarge);
}
.banner-text {
  width: 45%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text-banner {
  color: var(--light-gray);
  font-size: var(--font-size-xxsmall);
}
.banner-button {
  padding: 2.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-banner {
  background: var(--light-green);
  text-decoration: none;
  color: var(--black);
  font-size: var(--font-size-smaller);
  border-radius: 25px;
  padding: 1rem 2rem;
}
.btn-banner:hover {
  box-shadow: 0 0 20px var(--light-green);
  transition: 0.5s ease-in-out;
}
.banner-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 5rem 0;
}
.img-banner {
  width: 684px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-chat {
  width: 100%;
  border-radius: 16px;
}

/* INTRODUCTION */

.introduction {
  width: 100%;
  display: flex;
  background: var(--light-black);
}
.introduction-content {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.introduction-title {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.title-introduction {
  font-size: var(--font-size-xxlarge);
  color: var(--white);
  text-align: center;
}
.introduction-text {
  width: 70%;
  padding: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text-introduction {
  font-size: var(--font-size-xsmall);
  color: var(--white);
}

/* DESCRIPTION */

.description {
  width: 100%;
  display: flex;
  background: var(--light-black);
}
.description-content {
  background: var(--green);
  border-radius: 50px;
}
.descriptions-texts {
  display: flex;
  padding: 5rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description-title {
  width: 100%;
  padding: 3rem 0 0 0;
  justify-content: center;
  align-items: center;
  display: flex;
}
.title-description {
  color: var(--white);
  font-size: var(--font-size-xxlarge);
  text-align: center;
}
.shate-image {
  padding: 3rem 0;
}
.description-img {
  width: 300px;
  height: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.img-description {
  width: 100%;
}
.description-subtitle {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.subtitle-description {
  color: var(--white);
  font-size: var(--font-size-large);
  text-align: center;
}
.description-text {
  width: 55%;
  padding: 2.5rem 0 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.text-description {
  color: var(--white);
  font-size: var(--font-size-xsmall);
}

/* TESTIMONIAL */

.testimonial {
  display: flex;
  width: 100%;
  background: var(--light-black);
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonial-title {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 0 2rem 0;
}
.title-testimonial {
  font-size: var(--font-size-xxlarge);
  color: var(--white);
  text-align: center;
}
.testimonial-text {
  align-items: center;
  justify-content: center;
  display: flex;
}
.text-testimonial {
  color: var(--white);
  font-size: var(--font-size-xsmall);
  padding: 0 0 5rem 0;
  text-align: center;
}
.testimonials-texts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.testimonials-text {
  background: var(--green);
  text-align: center;
  width: 430px;
  height: 640px;
  min-width: 273px;
  border-radius: 20px;
}
.testimonial-titles {
  width: 95%;
  color: var(--white);
  margin: auto;
  padding: 3rem 0 2rem 0;
  font-size: var(--font-size-medium);
}
.testimonial-texts {
  width: 80%;
  font-size: var(--font-size-xxsmall);
  margin: auto;
  padding: 2rem 0;
  color: var(--white);
}
.imgs-testimonial {
  width: 85px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}
.subtitles-testimonial {
  color: var(--white);
  padding: 1rem 0 0 0;
  font-size: var(--font-size-xxsmall);
  font-weight: 200;
}

/* BRANDS */

.brands {
  width: 100%;
  display: flex;
  background: var(--light-black);
}
.brands-content {
  display: flex;
  flex-direction: column;
}
.brand-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 3rem 0;
  text-align: center;
}
.title-brand {
  font-size: var(--font-size-xlarge);
  color: var(--white);
}
.brand-image {
  width: 100%;
  align-items: center;
  display: flex;
}
.brand-img {
  width: 1160px;
  height: 94px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-brands {
  width: 100%;
}

/* CARDS */

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--light-black);
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-title {
  width: 100%;
  padding: 2rem 0 4rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
}
.title-card {
  color: var(--white);
  font-size: var(--font-size-xlarge);
}
.cards-text {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}
.card-texts {
  background: var(--light-green);
  width: 691px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 359px;
  max-width: 691px;
  min-width: 150px;
}
.image-card {
  width: 100%;
  display: flex;
  align-items: center;
}
.img-card {
  width: 691px;
  height: 230px;
  padding: 0 0 1.5rem 0;
}
.card-img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.cards-title {
  font-size: var(--font-size-small);
  padding: 0 0 0 2rem;
}
.card-text {
  padding: 0.5rem 0 0 2rem;
  font-size: var(--font-size-xxsmall);
}
.texts-card {
  width: 509px;
  height: 313px;
  max-width: 509px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
}
.card-image {
  width: 100%;
  display: flex;
  align-items: center;
}
.cards-img {
  background: var(--light-green);
  width: 509px;
  height: 200px;
  border-radius: 15px;
}
.img-cards {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.title-cards {
  font-size: var(--font-size-small);
  padding: 1rem 0 0.5rem 0;
  color: var(--white);
}
.text-card {
  color: var(--light-gray);
  font-size: var(--font-size-xxsmall);
}
.cards {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.cards-texts {
  width: 401px;
  height: 320px;
  max-width: 401px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
}
.cards-image {
  display: flex;
  align-items: center;
  width: 100%;
}
.cards-imgs {
  display: flex;
  width: 401px;
  height: 180px;
  border-radius: 15px;
  background: var(--light-green);
}
.imgs-cards {
  width: 100%;
  height: 93%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.cards-titles {
  color: var(--white);
  font-size: var(--font-size-small);
  padding: 1rem 0;
}
.texts-cards {
  color: var(--light-gray);
  font-size: var(--font-size-xxsmall);
}

/* SERVICE */

.service {
  width: 100%;
  display: flex;
  background: var(--light-black);
}

.service-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-shate {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 3rem 0;
}
.shate-img {
  width: 76.51px;
  height: 72px;
}
.img-shate {
  width: 100%;
}
.service-card {
  width: 100%;
  height: 31.3125rem;
  border-radius: 20px;
  display: flex;
  background: var(--light-green);
  position: relative;
}
.service-texts {
  width: 50%;
  padding: 1rem 0 3rem 2rem;
  display: flex;
  flex-direction: column;
}
.service-texts-content {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 0.5rem 3rem;
  flex-direction: column;
  transition: 0.7s all;
}
.service-title {
  font-size: var(--font-size-medium);
  color: var(--black);
  font-weight: 800;
  transition: 0.7s all;
}
.title-service {
  width: 100%;
  font-size: var(--font-size-medium);
  padding: 1rem 0;
  font-weight: 800;
  transition: 0.7s all;
}
.service-text {
  width: 90%;
  font-size: var(--font-size-xxsmall);
  padding: 0 0 2rem 0;
  transition: 0.7s all;
}
.button-service {
  background: var(--light-black);
  padding: 1rem 2rem;
  border-radius: 25px;
  text-decoration: none;
  font-size: var(--font-size-smaller);
  color: var(--white);
}
.service-image {
  width: 50%;
  transition: 0.3s ease;
}
.service-img {
  width: 683px;
  height: auto;
  margin-top: -40px;
  display: flex;
  position: absolute;
  z-index: 1;
  border-radius: 1rem;
}
.img-service {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/* FOOTER */

.footer {
  width: 100%;
  display: flex;
  background: var(--light-black);
}
.footer-content {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
}
.footer-image {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-footer {
  padding: 0 0 3rem 0;
}
.footer-img {
  width: 294px;
  height: 79px;
}
.img-footer {
  width: 100%;
  height: 100%;
}
.footer-input {
  width: 294px;
  height: 50px;
  padding: 0 1rem;
  border-radius: 8px;
  background: var(--light-gray);
  border: solid 1px var(--light-green);
  font-size: var(--font-size-smaller);
}
.footer-texts {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-titles {
  color: var(--light-green);
  font-size: var(--font-size-xsmall);
  padding: 0 0 2rem 0;
}
.texts-footer {
  color: var(--light-gray);
  padding: 0 0 1rem 0;
  font-size: var(--font-size-xxsmall);
}

@media only screen and (max-width: 1659px) {
  :root {
    --font-size-smaller: 1rem;
    --font-size-xxsmall: 1.25rem;
    --font-size-xsmall: 1.5rem;
    --font-size-small: 1.875rem;
    --font-size-medium: 1.9rem;
    --font-size-large: 2.25rem;
    --font-size-xlarge: 2.5rem;
    --font-size-xxlarge: 2.8rem;
  }
}
@media only screen and (max-width: 1438px) {
  .service-image {
    transition: 0.3s ease;
  }
  .service-img {
    width: 550px;
    transition: 0.3s ease;
  }
}
@media only screen and (max-width: 1156px) {
  :root {
    --font-size-smaller: 0.7rem;
    --font-size-xxsmall: 1rem;
    --font-size-xsmall: 1.2rem;
    --font-size-small: 1.5rem;
    --font-size-medium: 1.7rem;
    --font-size-large: 1.8rem;
    --font-size-xlarge: 2rem;
    --font-size-xxlarge: 2.2rem;
  }
  .bars {
    cursor: pointer;
  }
  .bar {
    height: 3px;
    display: block;
    width: 28px;
    background: var(--light-green);
    margin: 5px auto;
  }
  .bars.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .bars.active .bar:nth-child(2) {
    opacity: 0;
  }
  .bars.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .navigation.active {
    display: block;
  }
  .navigation {
    display: none;
  }
  .nav-itens {
    position: fixed;
    display: flex !important;
    width: 100%;
    height: 100vh;
    background: var(--light-black);
    top: 65px;
    right: 0px;
    flex-direction: column;
    justify-content: start !important;
    padding: 40px 17px;
    align-items: center;
  }
  .button {
    display: none;
  }
  .banner-title {
    width: 100%;
  }
  .banner-text {
    width: 80%;
  }
  .introduction-text {
    width: 100%;
  }
  .description-content {
    border-radius: 20px;
  }
  .descriptions-texts {
    padding: 3rem 0;
  }
  .description-title {
    width: 90%;
    padding: 0;
  }
  .shate-image {
    padding: 1rem 0;
  }
  .description-img {
    width: 180px;
    height: 100px;
  }
  .description-text {
    width: 70%;
    padding: 2rem 0 0 0;
  }
  .testimonials-text {
    width: 430px;
    height: 540px;
  }
  .service-card {
    flex-direction: column-reverse;
    transition: 0.3s ease;
  }
  .image-shate {
    display: none;
  }
  .service-image,
  .service-texts {
    width: 100%;
    transition: 0.3s ease;
  }
  .service-texts-content {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .service-title,
  .title-service,
  .service-text {
    text-align: center;
    transition: 0.7s all;
  }
  .service-texts {
    padding: 1rem;
  }
  .service-image {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
  }
  .service-img {
    width: 550px;
    height: auto;
    margin-top: -40px;
    display: flex;
    position: relative;
    z-index: 1;
    border-radius: 1rem;
  }
  .footer-content {
    flex-direction: column;
    padding: 0;
  }
  .footer-image {
    width: 100%;
  }
  .image-footer {
    padding: 0 0 1.5rem 0;
  }
  .footer-texts {
    width: 100%;
    padding: 2rem 0 0 0;
  }
  .footer-img {
    width: 230px;
    height: 60px;
  }
  .footer-input {
    width: 230px;
  }
}
@media only screen and (max-width: 701px) {
  :root {
    --gray: #5f6264bf;
    --font-size-smaller: 0.6rem;
    --font-size-xxsmall: 0.8rem;
    --font-size-xsmall: 1rem;
    --font-size-small: 1.2rem;
    --font-size-medium: 1.3rem;
    --font-size-large: 1.4rem;
    --font-size-xlarge: 1.5rem;
    --font-size-xxlarge: 1.7rem;
  }
  .banner-content,
  .introduction-content,
  .description-content,
  .testimonial-content,
  .brands-content,
  .card-content,
  .service-content,
  .footer-content {
    margin: 2rem auto;
    width: 90%;
  }
  .banner-text {
    width: 100%;
  }
  .shate-image {
    padding: 1rem 0;
  }
  .description-img {
    width: 130px;
    height: 60px;
  }
  .description-content {
    border-radius: 10px;
  }
  .descriptions-texts {
    display: flex;
    padding: 1.5rem 0;
  }
  .description-text {
    width: 80%;
    padding: 1rem 0 0 0;
  }
  .description-title {
    width: 95%;
  }
  .testimonial-title {
  }
  .text-testimonial {
    color: var(--white);
    font-size: var(--font-size-xsmall);
    padding: 0 0 3rem 0;
  }
  .testimonials-text {
    width: 273px;
    height: 460px;
  }
  .testimonial-titles {
    padding: 2rem 0 0 0;
  }
  .testimonials-texts {
    width: 90%;
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding: 1rem 0;
    justify-content: space-between;
  }
  .testimonials-texts::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: 20px;
    border: 2px solid var(--light-black);
  }
  .testimonials-texts::-webkit-scrollbar {
    background: var(--gray);
    border-radius: 20px;
  }

  .brand-title {
    padding: 0 0 2rem 0;
  }
  .card-texts {
    text-align: center;
  }
  .cards-title {
    padding: 0;
  }
  .card-text {
    padding: 0.5rem 0;
  }
  .texts-card {
    text-align: center;
  }
  .cards-texts {
    text-align: center;
  }
  .cards {
    gap: 1rem;
  }
  .img-card {
    height: 180px;
  }
  .card-texts {
    height: 290px;
  }
  .cards-title {
    width: 90%;
    margin: 0 auto;
  }
  .card-text {
    width: 90%;
    margin: 0 auto;
  }
}
